<<<<<<< HEAD
<<<<<<< HEAD
version https://git-lfs.github.com/spec/v1
oid sha256:ce5cbf8d5f9a14af3b93dd76728d84e7f9bdb6e5a2577a9c35701866a11d728e
size 1360
=======
=======
>>>>>>> faea81d2 (Fix git fls errors)
@import 'material-design-icons-iconfont/dist/material-design-icons.min.css';


/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F8FA;
    padding: 2rem;
    line-height: 1.5;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

header a {
    margin-right: 1rem; /* Spacing between menu items */
    text-decoration: none;
    color: #1DA1F2;
    font-weight: bold;
}

/* Post Section */
.post {
    background-color: #FFFFFF;
    border: 1px solid #E1E8ED;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.post img {
    max-width: 100%;
    border-radius: 50%; /* Circular profile picture */
    margin-right: 1rem;
}

.post-content {
    display: flex;
    align-items: start;
}

.post-content p {
    margin: 0;
}

/* What's happening section */
.whats-happening {
    background-color: #FFFFFF;
    border: 1px solid #E1E8ED;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.whats-happening h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Who to follow section */
.who-to-follow {
    background-color: #FFFFFF;
    border: 1px solid #E1E8ED;
    padding: 1rem;
    border-radius: 0.5rem;
}

.who-to-follow h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}
<<<<<<< HEAD
>>>>>>> 2190573f (wed14)
=======
>>>>>>> faea81d2 (Fix git fls errors)
